.container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  &-accounts {
    margin-top: 20px;
  }

  .accounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-radius: 5px;

    h2 {
      font-size: 1.5rem;
      color: white;
      font-weight: 300;
    }
  }

  .account {
    margin: 10px 20px;


    .items {
      display: flex;
      height: 50px;
      align-items: center;
      background-color: #eee;
    }


    span:nth-child(1) {
      margin-right: 30px;
      margin-left: 20px;
      font-size: 0.9rem;
    }

    span:nth-child(2) {
      flex-grow: 2;
      font-weight: 700;
      font-size: 0.9rem;
    }

    span:nth-child(3) {
      margin-right: 20px;
      font-weight: 700;
      font-size: 0.9rem;
    }


  }

  .button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;

  }

  button {
    height: 40px;
    width: 100px;
    border: none;
    font-weight: 700;
    line-height: 40px;
    font-size: 0.8rem;
    border-radius: 5px;
  }
}